DRONE_DEBUG=true
DRONE_GITHUB_CLIENT_ID=
DRONE_GITHUB_CLIENT_SECRET=
DRONE_RPC_SECRET=
DRONE_SERVER_HOST=drone.theautomation.nl
DRONE_SERVER_PROTO=https
DRONE_TRACE=false
DRONE_LOGS_COLOR=true
DRONE_LOGS_DEBUG=false
DRONE_LOGS_PRETTY=true
DRONE_LOGS_TEXT=true
DRONE_USER_CREATE=username:theautomation,admin:true
